@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat&display=swap');

:root{
    --text-color: #000;
    --bg-color: #3B3372;
    --text-bg-color: #09e8dd;
    --button-color: #6b4e9e;
    --button2-color: #E6664F;
    --highlight-color: #FCD85D;

    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
}

@layer base {
    body {
        @apply bg-[var(--bg-color)] text-[var(--text-color)] tracking-wide z-[-2] flex justify-center
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-[Caveat]
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2 {
        @apply text-3xl sm:text-4xl
    }

    li {
        @apply cursor-pointer
    }

    button {
        @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
    }
}

svg {
    scale: .045;
}

html {
    scroll-behavior: smooth !important;
}

.notload {
    opacity: 0;
    transition: all 1s;
    animation-play-state: paused;
}

.load {
    opacity: 1;
    transition: all 1s;
}

.buttonShadow {
    box-shadow: .5rem .5rem #000;
}

.buttoncolor a:nth-child(2) li {
   background-color: var(--button2-color);
}

.right {
    animation: right-left  1s linear;
}

.left {
    animation: left-right 1.5s linear;
}

.drop {
    animation: drop 1.75s linear forwards;
}

.fadeIn1 {
    animation: fadeIn .25s linear forwards;
}
.fadeIn2 {
    animation: fadeIn .5s linear forwards;
}
.fadeIn3 {
    animation: fadeIn .6s linear forwards;
}
.fadeIn4 {
    animation: fadeIn .7s linear forwards;
}
.fadeIn5 {
    animation: fadeIn .8s linear forwards;
}


.hex {
    position:absolute;
    width:90px;height:51px;
}

.hex:nth-of-type(2){rotate: 60deg;}
.hex:nth-of-type(3){rotate: -60deg;}

.hex div {
    width: 100%;
    height: 100%;
    position: relative;
}

.hex div span {
    position: absolute;
    width: 4px; height: 0%;
    background: #053146; z-index: 200;
}

.h1{left:0;
    animation: load1 7.2s ease infinite;
  }
  .h2{right:0;
    animation: load2 7.2s ease .6s infinite;
  }
  .h3{right:0;
    animation: load3 7.2s ease 1.2s infinite;
  }
  .h4{right:0;
    animation: load4 7.2s ease 1.8s infinite;
  }
  .h5{left:0;
    animation: load5 7.2s ease 2.4s infinite;
  }
  .h6{left:0;
    animation: load6 7.2s ease 3s infinite;
  }
  
  @keyframes load1 {
    0%{bottom:0;height:0}
    6.944444444%{bottom:0;height:100%}
    50%{top:0;height:100%}
    59.944444433%{top:0;height:0}
  /*   91.6666667%{top:0;height:0%;} */
  }
  
  @keyframes load2 {
    0%{top:0;height:0}
    6.944444444%{top:0;height:100%}
    50%{bottom:0;height:100%}
    59.944444433%{bottom:0;height:0}
  /*   91.6666667%{bottom:0;height:0%} */
  }
  
  @keyframes load3 {
    0%{top:0;height:0}
    6.944444444%{top:0;height:100%}
    50%{bottom:0;height:100%}
    59.94444443%{bottom:0;height:0}
  /*   91.6666667%{bottom:0;height:0%;} */
  }
  
  @keyframes load4 {
    0%{top:0;height:0}
    6.944444444%{top:0;height:100%}
    50%{bottom:0;height:100%}
    59.94444443%{bottom:0;height:0}
  /*   91.6666667%{bottom:0;height:0%;} */
  }
  
  @keyframes load5 {
    0%{bottom:0;height:0}
    6.944444444%{bottom:0;height:100%}
    50%{top:0;height:100%}
    59.94444443%{top:0;height:0}
  /*   91.6666667%{top:0;height:0%;} */
  }

  @keyframes load6 {
    0%{bottom:0;height:0}
    6.944444444%{bottom:0;height:100%}
    50%{top:0;height:100%}
    59.94444443%{top:0;height:0}
  /*   91.6666667%{top:0;height:0%;} */
  }


@keyframes right-left {
    0% {
        transform: translate(-300%);
        rotate: 12deg;
    }
    100% {
        transform: translate(0);
        rotate: 12deg;
    }
}

@keyframes left-right {
    0% {
        transform: translate(300%);
        rotate: -12deg;
    }
    100% {
        transform: translate(0);
        rotate: -12deg;
    }
}

@keyframes drop {
    0% {
        transform: translate(1500%);
        rotate: -42deg;
    }
    80% {
        transform: translate(0);
        rotate: -10deg;
    }
    90% {
        transform: translate(-180px);
        rotate: 15deg;
    }
    100% {
        transform: translate(0);
        rotate: 0deg;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(75px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}