@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat&display=swap');

:root{
    --text-color: #000;
    --bg-color: #3B3372;
    --text-bg-color: #09e8dd;
    --button-color: #6b4e9e;
    --button2-color: #E6664F;
    --highlight-color: #FCD85D;

    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
}


@layer base {
    body {
        @apply bg-[var(--bg-color)] text-[var(--text-color)] tracking-wide z-[-2]
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-[Caveat]
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2 {
        @apply text-3xl sm:text-4xl
    }

    li {
        @apply cursor-pointer 
    }

    button {
        @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
    }
}

.buttonShadow {
    box-shadow: .5rem .5rem #000;
}

.buttoncolor a:nth-child(2) li {
   background-color: var(--button2-color);
}